*{
    margin: 0;
    padding: 0;
    outline: 0;
}
a{
    text-decoration: none;
}
ol,ul{
    list-style-type: none;
}
img{
    vertical-align: middle;
}
.wrapper{
    width: 1140px;
    margin: 0 auto;
}
body{

}
/* header part start */
.header_part{
    background-color: #f1f1f1;
    height: 70px;
}
.logo{
    width: 340px;
    height: 70px;
    
    float: left;
}
.logo a img{
    padding-top: 10px;
}
.menu{
    width: 800px;
    height: 70px;
    background: #1440d3;
    float: left;
}
.menu a{
    display: inline-block;
    line-height: 70px;
    padding-left: 25px;
    padding-right: 25px;
    color: white;
    text-transform: uppercase;
    font-weight: 800;
    font-family: sans-serif;
    transition: 0.4s;
}
.menu a.active,
.menu a:hover{
    color: black;
}
/* header part start */